.chat{
    min-height: 100vh;
    background: linear-gradient(#6FA7A9, #395E60);
    display: grid;
    place-items: center;
}
.chat-container{
    height: 75vh;
    width: 100%;
    max-width: 1000px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
}
.chat-container.expand-chatbox {
    grid-template-columns: 1fr 3fr;
}

.loading{
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading:after {
    content: " ";
    width: 50px;
    height: 50px;
    border: 5px solid white;
    border-radius: 50%;
    border-top: 5px solid transparent;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width:900px) {
    .chat-container{
        display:flex;
    }
    .loading{
        font-size: 30px;
    }
}